---
layout: layouts/base.njk
---


	<li class="elv-nav-item elv-nav-item-sm lo-c"><a href="https://github.com/11ty/eleventy/" class="elv-externalexempt elv-nav-light"> GitHub Stars</a></li>

  {{github | log}}

  {% for page in github %}
  <p>{{page.title.rendered}}</p>
  <p>{{page.content.rendered}}
  {% endfor %}